<!DOCTYPE html>
<html lang="en" xmlns:margin="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Demo</title>
</head>
<body>
<div align="center" style="margin: auto">
    <form action="/search" method="get">
        <textarea placeholder="Input to API." maxlength="20" name="q"></textarea>
        <br>
        <input type="submit" value="Send informmation to API">
        <br>
        <textarea placeholder="Output from API." maxlength="20">{{ res }}</textarea>
    </form>
</div>
</body>
</html>